@font-face {
    font-family: 'coiny';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/Coiny-Regular.ttf") format("TrueType");
}

:root {
    --size-00: clamp(1.00rem, calc(0.20rem + 3.20vw), 2.00rem);
}

body{
    background-color: #000;
}

img.logo {
    display: block;
    width: 100%;
}
